.image-card {
  .image-container {
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* Proporción 16:9 para mantener la relación de aspecto */
    background-image: url('https://motor.elpais.com/wp-content/uploads/2022/01/google-maps-22.jpg');
    background-size: cover;
    background-position: center;
    transition: transform 0.2s; /* Agregar una transición suave al movimiento */
    cursor: grab;
  }

  .image-container:active {
    cursor: grabbing;
  }

  /* Efecto de movimiento al arrastrar */
  .image-container:hover {
    transform: scale(3.05);
  }
}
