<ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="8" offset-md="2">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Título</ion-label>
              <ion-input [(ngModel)]="title" type="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Descripción</ion-label>
              <ion-input [(ngModel)]="description" type="text" required></ion-input>
            </ion-item>
            <ion-item>
              <input type="file" (change)="handleImageUpload($event)">
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="8" offset-md="2">
          <ion-button expand="full" color="primary" (click)="submitForm()">Publicar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Botón flotante para redirigir a tab7 -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="redirectToTab10()">
      <ion-icon name="arrow-undo"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
