/* login.component.scss */
// ion-item {
//   --ion-item-background: #f8f8f8;
//   --ion-text-color: #333;
//   --highlight-color-focused: transparent; /* Remueve el resaltado de color cuando el input está enfocado */
// }

ion-input {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 8px;
}

ion-button {
  margin-top: 10px;
  --background: #4CAF50;
}

