
<ion-content [fullscreen]="true">
  <ion-header>
    <form action="">
      <ion-input aria-label="Danger input" color="danger" label="Usuario" label-placement="floating" fill="solid"></ion-input>
      <br>
      <ion-input aria-label="Danger input" color="danger" label="Contraseña" label-placement="floating" fill="solid"></ion-input>
      <br>
      <ion-button  class="boton" color="success">
        <ion-label>Iniciar Sesion</ion-label>
      </ion-button>
    </form>
  </ion-header>
</ion-content>
