<ion-content [fullscreen]="true" class="login-page">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <h1 style="position: inherit;text-align: center;">
          <ion-text color="primary">Administrador</ion-text>
          <ion-card-subtitle color="danger">personal autorizado</ion-card-subtitle>
        </h1>
        <ion-list>
          <ion-item class="input-item">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input [(ngModel)]="username" type="text" required></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" type="password" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <small class="redText" *ngIf="emailExists"> El correo electrónico ya está en uso</small>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-button [disabled]="!username || !password" expand="full" (click)="login()">
          Iniciar Sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding">
    <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
  </div>
</ion-content>
