.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.login-form {
  width: 90%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-item {
  margin-bottom: 16px;
}

ion-button {
  --background: darkred;
  --color: white;
  margin-top: 16px;
}

.redText{
  color: #e71d1d;
  margin-top: 3px;
  margin-left: 20px;
}