<ion-content [fullscreen]="true">
  <ion-header>
      <ion-card *ngFor="let p of data">
        <img class="imagenes" alt="imagen" src="{{p.imagen}}" />
        <ion-card-header>
          <ion-card-title>{{p.titulo}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-card-subtitle>Descripción:</ion-card-subtitle>
          {{p.descripcion}}
        </ion-card-content>
        <!--<ion-button (click)="getP()">Click me</ion-button>-->
      </ion-card>
  </ion-header>
</ion-content>
