<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input [(ngModel)]="telefono" type="text" required></ion-input>
      </ion-item>
      <ion-item *ngIf="errorMessage" color="danger">
        {{ errorMessage }}
      </ion-item>
    </ion-list>
    <ion-button expand="full" color="primary" (click)="submitForm()">Crear Contacto</ion-button>
  </ion-header>
  <!-- Botón flotante para redirigir a tab7 -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="redirectToTab9()">
      <ion-icon name="arrow-undo"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
